<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/css/reset.css"  rel="stylesheet">
    <link  href="/css/style_3.css"  rel="stylesheet">
    <link rel="icon" href="css/img/favicon_io/favicon-32x32.png" />
    <title>athletic club de l'allet</title>
</head>
<body>
<div class="conteneur">
    <header class="header1">
        <div class="logo">
            <img src="css/img/LOGO_ALLET_1.png" alt="logo aca" class="header_img_logo">
        </div>
        <nav class="naviguation">
            <ul>
                <li class="navigation item"> Présentation </li>
                <li class="navigation item"> Equipe </li>
                <li class="navigation item"> Résultat </li>
                <li class="navigation item"> Sponsors </li>
            </ul>
        </nav>
        block Fixe
    </header> 
    <div>
        <div class="header2">
            <h1 class="header2_slogan"> Tout pour le club  !</h1>
            <div class="connection">
                <p><span class="connectez-vous">Connectez-vous</span></p>
                <p class="imageUser"><img class = "imageUser_img" src="css/img/utilisateur_bleu.png" alt="logo_user" class="icon_user"></p>
            </div>
        </div> 
        <main>
            <article class="article">
                <div class="article_image_label">
                    <div class="article_label"> <span class="label">MATCH</span> </div>
                    <picture class="article_image">
                        <img class="article_image image" src="https://media.istockphoto.com/photos/soccer-ball-flew-into-the-goal-soccer-ball-bends-the-net-against-the-picture-id1197582798" alt="" />
                    </picture>
                </div>
                <header class="article_header">
                    <h2>
                        Titre article Test pour l'ACA, un vrai club pour des vrais valeures
                    </h2>
                </header>
                <footer class="article_footer">
                    <span class="auteur">par Jean-Claude</span>  - <span class="date">le 12/03/2022</span> 
                </footer>
            </article>
            text de présentation
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non mollitia asperiores dignissimos facilis aspernatur id impedit nemo ullam, rerum architecto nam praesentium sunt. Minima quaerat, reiciendis dolore eveniet debitis delectus?
            Alias pariatur dolores id sequi dolore nihil in iusto, ea repudiandae inventore labore voluptatem, quisquam mollitia perspiciatis aspernatur ipsam molestias ipsum aliquam nostrum totam consequatur quidem ab. Inventore, voluptatibus tempore.
            Sint, voluptates. Reiciendis possimus omnis modi, pariatur dolores praesentium. Fugiat eveniet, qui aliquid illo aperiam in impedit. Deserunt, magni, esse alias veritatis accusamus et, fugiat harum sint optio aut dolor?
            Unde quod cumque placeat, beatae mollitia ipsum sit, sapiente asperiores, labore quisquam repellat repellendus doloremque impedit dolor culpa! Quae at, quasi placeat rem cum maxime blanditiis totam nam quos eligendi?
            Ipsum saepe quis sunt at cumque sint! Eum amet consequuntur itaque quas in accusantium quidem repudiandae ea error quis similique deleniti cumque iste neque, dolorem cum dolor aspernatur nulla excepturi.
            Neque fugit, ullam libero fugiat impedit eos rerum recusandae, excepturi nisi unde aut voluptatem? Id fugit esse, earum ut omnis sapiente nobis praesentium inventore velit consequuntur dicta, reprehenderit, ducimus expedita.
            Culpa eveniet modi aliquam totam quam perspiciatis praesentium exercitationem voluptatibus. Tempora numquam magni dignissimos eum itaque porro necessitatibus corrupti delectus dolore architecto at, consequuntur esse minus, ab magnam sequi mollitia!
            Illo delectus, sed libero eum sapiente veritatis excepturi corrupti, eaque at accusamus molestias minima reprehenderit! Praesentium repellat aliquid cupiditate reprehenderit, molestias quos, repellendus ratione corrupti consequuntur delectus voluptas, cumque necessitatibus.
            Provident animi porro ullam assumenda blanditiis cupiditate quisquam omnis veritatis sint repellendus, rerum quaerat in amet, corporis, ducimus et culpa eveniet quam facilis? Dicta porro aliquam quos. Esse, dolorem maiores?
            Blanditiis saepe repellat in praesentium quam eius, iste dolores nemo facilis a distinctio tenetur natus reprehenderit, nulla ex fuga sapiente voluptas dolor accusantium eum ipsam veniam! Nesciunt labore sunt dignissimos.
            Quisquam enim porro sapiente! Hic qui ipsam, fuga ipsa dolor blanditiis est? Facere deleniti sapiente nam consectetur esse cum, itaque voluptates porro accusamus tenetur officiis vel a placeat assumenda iure.
            Quidem expedita dolore voluptates repellendus facere similique tempora, officiis a eum soluta exercitationem perspiciatis deleniti velit? Consequuntur quae quos sunt voluptas doloribus laudantium ex, dolorum ipsum veniam obcaecati dolor? Nulla?
            Impedit cumque officiis cupiditate dolor vel, beatae nostrum incidunt architecto, mollitia perferendis, nam ut dicta molestias! Placeat saepe alias, minus quo consequuntur, veniam impedit nesciunt, modi fugiat aspernatur consequatur id?
            Esse repellendus consequatur laborum impedit tenetur ad corrupti tempora molestiae perspiciatis incidunt odit rerum eos assumenda culpa repudiandae officiis, sit nihil dolor at sequi! Quidem assumenda officia facere repellat consequatur.
            Quod porro natus unde officia maxime sed vero asperiores culpa quas corporis exercitationem odit, explicabo nulla esse enim! Facere quidem beatae laborum at incidunt ducimus molestias reiciendis magni autem consectetur!
            Tempore earum asperiores exercitationem veniam, nam nulla enim laboriosam, modi officiis rem possimus repudiandae debitis qui vitae voluptate eveniet quo fuga molestias minima laudantium. Consectetur deserunt quia ex facere quod?
            Nobis deleniti fugit neque nesciunt, nihil labore laboriosam sequi totam, ipsam excepturi commodi dolor nostrum tempora. Quia fuga excepturi in delectus, repellendus hic facilis. Et ducimus rerum architecto fuga sunt.
            Architecto, nihil hic? Quia nemo tenetur porro blanditiis voluptatem omnis ab necessitatibus quae nostrum suscipit reprehenderit voluptate veniam, alias eaque similique optio itaque ea? Minus expedita eveniet veniam voluptates. Necessitatibus!
            Sed, ad ipsum quae rem rerum, odio repellendus quibusdam corporis laborum, vitae dolorum ullam illo reiciendis minima suscipit facilis minus sunt. Incidunt dolore facilis suscipit inventore nisi vitae adipisci consectetur.
            Dolore fugit culpa facere, nobis non dignissimos, laudantium id consectetur aliquid, quaerat aperiam tempore. Dignissimos animi dolores neque cumque illum consequuntur et nam blanditiis, velit ut corrupti incidunt voluptatibus ipsa.
            Beatae perferendis ut repudiandae eos molestias provident maiores velit animi deleniti, ratione id tempore esse nulla blanditiis voluptas totam necessitatibus dicta nisi eius eum eveniet quae illo vel maxime? Id.
            Ipsam aperiam, incidunt excepturi soluta quisquam amet eos beatae officia saepe ipsa iure dignissimos? Reiciendis possimus omnis, sit sed quis illo nostrum, eum recusandae quia totam veritatis atque, quo tenetur.
            Consectetur voluptatum atque dolorum minima, non beatae, sapiente possimus ipsum officia tenetur esse illum veritatis. Temporibus, ducimus, esse voluptatem iure at, quam veniam libero ut necessitatibus aspernatur corporis ipsam quasi?
            Quae saepe cumque incidunt quia nam obcaecati blanditiis accusantium doloremque facilis, vel possimus eveniet mollitia! Consectetur, dicta ut quas architecto velit esse cumque eaque earum ipsa reiciendis suscipit quae magnam.
            Possimus laudantium voluptatibus earum? Quos maiores accusantium repudiandae assumenda eaque sit quia voluptatem, ea voluptatum officia rem eius quidem perspiciatis vel eos cupiditate iusto nihil hic inventore praesentium saepe autem!
            Nostrum dolorem maxime voluptatibus ducimus quo quae vel doloribus voluptas provident! Voluptatem ipsum eum totam voluptates repudiandae reiciendis ab mollitia? Enim itaque ratione consequuntur eius praesentium. Reiciendis minus tempore voluptates?
            Aspernatur ab et magnam excepturi reprehenderit optio placeat voluptates quaerat nulla eveniet illum possimus iure beatae illo, velit tenetur explicabo, distinctio id eum quae, error natus soluta. Minus, aspernatur maxime?
            Rerum blanditiis mollitia iure eos qui aspernatur quae, voluptates doloremque excepturi illo odit nostrum? Deleniti praesentium in est ipsam ipsa numquam officiis blanditiis, iure earum maxime, nulla minima, officia accusantium?
            Aliquid aut eos earum sequi expedita assumenda iure placeat rerum ex quaerat laborum dicta libero, error dolore maxime? Esse totam maiores dolore nemo qui ut. Quas mollitia maiores accusamus quasi.
            Doloremque magni repellendus beatae quibusdam ratione suscipit quos reiciendis deserunt ipsum. Accusamus vitae aliquid, provident autem neque tempora aperiam maxime commodi atque nulla officia, numquam tenetur architecto, fuga repudiandae explicabo?
            Neque, alias ad excepturi, esse, inventore culpa voluptas velit optio iure vel tempore. Ullam culpa aperiam corrupti exercitationem possimus, totam nobis enim. Iste in iusto quam dicta veritatis commodi laudantium?
            Molestiae suscipit quos natus. Natus, libero ipsam sit totam architecto earum ab accusamus tenetur perspiciatis, consequuntur beatae quae, aliquid maiores? Rerum possimus iusto fuga soluta debitis reiciendis maiores cumque eaque.
            Ad nihil nemo iusto saepe delectus a ex dolore repellendus ullam laudantium veritatis ipsa magnam dignissimos beatae, quos inventore modi aperiam totam exercitationem nisi repudiandae. Dolore impedit doloremque nemo consectetur!
            Illum eligendi possimus et dignissimos maxime, dolorem aperiam impedit repudiandae nobis sequi officia id, in animi, distinctio qui molestiae totam magnam! Delectus quisquam assumenda expedita magni sunt quis maxime minus.
            Culpa, voluptates? Odio autem iste illo voluptates, sed minima commodi dolorum tenetur maiores fugit doloremque aliquid consequatur pariatur sit enim? Quo natus ut quas molestias veniam ab! Soluta, autem repellendus.
            Doloribus placeat exercitationem distinctio quibusdam quasi similique magni vitae voluptate provident beatae explicabo sed, unde dicta voluptatem animi aliquid aperiam deleniti dolores optio nostrum vel esse inventore iusto. Praesentium, tempore!
            Consectetur, molestiae inventore? Vero voluptates eaque molestias, officiis non, et in dolor deleniti nostrum odio atque alias sapiente error repellat reiciendis ipsum eius temporibus tempore cum modi incidunt cupiditate soluta!
            Qui dignissimos quasi distinctio pariatur debitis, accusamus sint nemo perferendis fuga reiciendis, dolorum iusto corporis quos porro cum. Incidunt at possimus soluta quasi vitae dolores qui! Expedita ipsam libero debitis?
            Tempora commodi nisi quae saepe natus, nobis cumque sed eligendi quod facilis aliquam laboriosam voluptatem nostrum quidem. Temporibus iure sed ad saepe quam earum quia. Soluta dolore voluptatum esse tempore!
            Cumque atque doloribus nemo distinctio. Doloribus corrupti error nam velit deserunt quae necessitatibus, expedita illo animi voluptate minus assumenda ad nisi earum optio laudantium reprehenderit unde aperiam, itaque, quod mollitia.
            Labore, laboriosam? Omnis vitae, accusamus dolorum error provident enim delectus voluptatum molestias! Quibusdam doloribus accusantium iure dolorum officiis culpa ex vero itaque tempore, ipsa ipsum? Maxime laboriosam omnis ullam voluptatum?
            Veritatis accusamus voluptatum earum distinctio, nam non at repellendus. Libero ea totam, delectus nesciunt voluptate eius molestias reprehenderit voluptatum numquam qui sapiente, voluptatibus tenetur sunt, soluta dicta quidem molestiae magni!
            Exercitationem commodi animi impedit saepe iure cupiditate veritatis quo aliquam nulla sed tempore architecto temporibus magni, dolor facilis suscipit voluptate labore vero dicta. Doloribus unde, suscipit voluptatibus hic quis quam.
            Minus natus aliquam veniam quisquam beatae ex voluptatum fugit numquam fugiat cum, nemo cupiditate. Fuga, accusantium. Repellat voluptate corrupti voluptatibus aliquid dolor officia animi, non voluptates ipsa laborum praesentium perspiciatis.
            Dolorum, accusantium neque non cumque optio temporibus soluta beatae, deleniti modi animi amet esse eligendi commodi reprehenderit laudantium maiores voluptate alias! Possimus, culpa. Reiciendis fuga beatae optio eligendi, ipsam suscipit.
            Iure nostrum quos nesciunt sunt neque, aut quaerat debitis sed est nemo aspernatur cupiditate ex adipisci vitae iste excepturi dolore architecto! Itaque esse consectetur maiores commodi molestiae labore, voluptate dolorem?
            Veniam et quam corrupti magni, distinctio, minima consectetur autem ut magnam enim sint, cum vero laudantium dolor voluptas voluptatem deserunt ducimus temporibus repellat eum dignissimos aperiam. Dolor incidunt officia repellendus.
            Iure explicabo, similique, tempora aliquid a odit veritatis enim esse odio aperiam blanditiis nesciunt eius asperiores, quam nobis. Enim possimus voluptates voluptas quasi. A porro laudantium illo repudiandae illum delectus.
            Velit, voluptate error quia exercitationem est, architecto laboriosam nisi ullam soluta maxime sapiente quasi nemo, totam commodi id corporis unde quibusdam libero suscipit in. Atque dolore odio debitis iusto vero.
            Eum laudantium iusto omnis, pariatur nesciunt, odit molestiae id inventore quo ipsa delectus est! Omnis necessitatibus perspiciatis rerum, nisi amet odit iusto voluptas velit voluptatibus porro autem dicta aspernatur sunt?
            Est nihil animi magni dolorum commodi! Atque tempora repudiandae ipsum deleniti explicabo quas laudantium in adipisci aliquid! Tenetur, odio, atque et suscipit officia consectetur, perferendis voluptas necessitatibus pariatur dolorem dolor!
            Minus nesciunt, ex velit omnis eveniet qui iusto necessitatibus voluptatem dignissimos similique corporis illo officiis cumque quam vel nobis. Laboriosam dolores tenetur sapiente incidunt quasi quibusdam quis! Sit, voluptatum velit.
            Veniam, veritatis accusantium? Maiores veniam asperiores sapiente necessitatibus quod dolores deserunt eligendi, a corporis recusandae culpa. Ullam totam, ratione necessitatibus natus quibusdam, eaque cumque rerum aliquam tempora, reiciendis laudantium neque?
            Labore asperiores quod odit nisi omnis vitae delectus quae reprehenderit unde? Odio recusandae id voluptates nam voluptatibus culpa maiores cumque autem non ipsa corrupti, esse nesciunt perferendis, modi nisi ratione.
            Veniam necessitatibus placeat, officia unde, quaerat beatae, consequuntur voluptatibus accusantium vero distinctio architecto. Itaque quo error provident soluta rerum sit doloribus vitae nesciunt dolorem, harum repudiandae explicabo inventore magnam pariatur!
            Mollitia deleniti sed perspiciatis placeat at distinctio, quis repudiandae voluptatibus labore et reprehenderit itaque quasi molestiae exercitationem quod a optio commodi eos omnis quam cumque aperiam, dolorem fuga? Perspiciatis, velit.
            Debitis nesciunt qui minus. Pariatur alias commodi, tempore, eos odit magnam ullam dolores placeat laborum vel officiis facere exercitationem quibusdam eveniet a itaque dolore doloribus! Expedita, explicabo. Dolore, autem nemo!
            Enim odit voluptatum eveniet voluptate totam rerum, sapiente excepturi temporibus magnam vitae fugit beatae unde neque et soluta quod. Nemo veritatis molestiae, ipsa tempore veniam numquam. Facere praesentium impedit perferendis!
            Architecto veritatis qui, alias sequi maiores a nostrum ad non consequuntur. Corporis aut dolore, pariatur laboriosam modi quod, nobis ipsa perspiciatis labore alias tempore autem dolor fugiat porro, asperiores dicta!
            A praesentium odio earum, beatae esse quibusdam non officiis impedit excepturi delectus dolorem ad quia ullam qui maxime veritatis rem explicabo temporibus ipsam iure soluta nisi dolores dolore! Similique, excepturi.
            Odio error reprehenderit assumenda blanditiis autem excepturi modi earum quod debitis asperiores sit et, optio vitae provident delectus. Ullam recusandae voluptatum numquam eius nulla debitis sapiente, voluptas neque exercitationem porro!
            Nesciunt, vitae? Cumque odio, laborum nam debitis mollitia minima, architecto blanditiis perspiciatis quisquam error rem molestias beatae, fugit aliquam quaerat. Molestiae expedita illum perspiciatis non. Impedit et provident soluta vero.
            Perspiciatis quisquam repudiandae ad recusandae id vel quasi perferendis at ipsam. Debitis beatae perferendis, earum enim consequatur reprehenderit dolore ex ut ad quidem illum numquam pariatur aut repellendus deleniti amet.
            Blanditiis explicabo magni nesciunt necessitatibus eos vero qui, pariatur, earum et quia laudantium autem dolore consequuntur inventore, ad sunt? Sapiente obcaecati numquam voluptas. Ad vel, necessitatibus ratione quidem optio sed.
            Qui sapiente maxime praesentium maiores! Alias non praesentium perferendis? Ducimus sed officia, ut optio impedit dolorum debitis. Odit facilis praesentium ullam architecto laboriosam? Voluptatem, assumenda? Suscipit quis ratione dolores nihil.
            Soluta illo quibusdam nisi earum velit et sed explicabo porro officiis fugit error eius, ipsam blanditiis expedita odit a! Molestiae aliquid natus obcaecati laudantium iusto aspernatur quae sint fuga neque.
            Harum deserunt pariatur, iusto, sunt velit dolores aspernatur cumque maiores architecto reiciendis suscipit rem consectetur labore! Temporibus, aut eligendi sint veritatis reiciendis nulla, magnam, optio sit ipsam eius eaque? Cupiditate?
            Rerum tempora magni reprehenderit a, assumenda corrupti exercitationem perspiciatis debitis adipisci officiis iste dolorem quaerat saepe laboriosam esse, id veniam voluptatibus veritatis odio delectus eveniet, dicta accusantium. Odio, voluptas non!
            Ex dolorum repudiandae quod nobis provident cum! Obcaecati tenetur dolores accusantium natus ea dolorum nobis molestias delectus nam eius ducimus eaque voluptatem quasi numquam consequuntur cumque, harum distinctio, voluptas similique!
            Aliquid ut odit commodi dolorem necessitatibus. Unde atque recusandae sunt fuga sint quisquam, et quidem cum asperiores est voluptas hic ad, aut tenetur dolorem. Assumenda consequuntur nulla rem nisi expedita!
            Dolor nemo cum pariatur non delectus? Eaque molestiae ad doloribus error placeat fugit. Minima veritatis, adipisci vel, perspiciatis temporibus quia cupiditate eaque dolorem ducimus sunt ipsam facere saepe placeat voluptatem.
            Sequi quisquam inventore, ex ratione nobis recusandae, magnam tempore neque quasi exercitationem quam eius, veritatis voluptatem esse beatae numquam nemo quaerat error maiores ea possimus nam quo. Saepe, ipsa itaque.
            Itaque, distinctio illo? Odio doloribus hic dicta, nulla iure excepturi ipsum dolorem architecto odit, fuga repellat corrupti nesciunt non dolor quis quam deleniti. Molestiae labore consectetur, fugit minus quos omnis.
            Quidem aliquid suscipit aperiam et ratione cupiditate voluptatibus perferendis totam culpa sit, hic fugiat quod dolor accusamus ipsum voluptate vero. Sequi molestiae quis repellat error voluptatum, soluta accusamus quaerat ex?
            Ullam dolorem asperiores consectetur alias dignissimos eligendi provident id amet? Totam corporis nostrum eius beatae ipsum porro autem iure magnam, possimus voluptate iusto ex veniam doloremque perspiciatis ratione id numquam.
            Blanditiis, mollitia rem, qui vero pariatur similique quos porro distinctio ipsam repellat odio, impedit maiores eos tempora et aliquam aliquid. Maiores alias veritatis aliquam amet adipisci tempora reprehenderit est debitis!
            Alias est sapiente eligendi ipsa minima odit voluptas obcaecati rerum, asperiores ex velit magni assumenda iste quis perferendis quibusdam necessitatibus porro sit tempore cum corporis. Dolores asperiores veritatis alias ut.
            Pariatur ut ex, magni animi molestias explicabo fuga impedit! Laborum consequatur cupiditate, non nam maxime ipsam porro quis nisi, aliquid, obcaecati voluptatum beatae necessitatibus similique. Ex aliquid ducimus aliquam impedit?
            Dicta dolore molestias quasi reiciendis voluptates? Magnam quis dignissimos quas alias accusamus minima molestiae consectetur doloribus et nemo, tempora deleniti maiores placeat vero expedita, qui enim dolorem aut dolorum! Rerum?
            Explicabo quo sed culpa corrupti error unde ullam qui, quas commodi aspernatur architecto molestias dolor hic dolores ducimus laudantium alias laborum delectus a modi voluptatibus distinctio rerum eius. Voluptatibus, quaerat?
            Est, modi eos eius inventore maiores veritatis iure quisquam magnam rerum amet recusandae voluptatum voluptatibus exercitationem. Vitae, totam eveniet? Error minus reprehenderit nisi laboriosam excepturi doloribus doloremque molestiae quae eius.
            Neque, sit sed. Dolor odio similique asperiores consequatur voluptate. Modi dolorum obcaecati doloribus corrupti possimus, ipsa, quia perspiciatis culpa amet tenetur adipisci inventore, nostrum earum dolorem rem asperiores magnam eveniet.
            Sapiente repellendus ab earum nobis ipsa exercitationem, reiciendis quasi unde culpa ullam ad voluptates placeat repudiandae aliquid voluptatibus. Voluptatem iure libero pariatur ducimus, incidunt praesentium eveniet! Consequuntur quibusdam nostrum obcaecati.
            Ea ipsam placeat sint beatae, autem cum inventore vitae. Sequi sint ullam quae harum, mollitia necessitatibus ipsa facilis. Fuga ad necessitatibus illo, a rerum nemo quibusdam atque facere quisquam. Molestiae!
            Doloribus repellat est suscipit delectus. Possimus enim ducimus id perspiciatis non similique voluptate quasi ea, ad, quos deleniti nulla dolorum facilis quidem blanditiis unde quis reprehenderit esse harum eos iure?
            Similique saepe cumque numquam laudantium accusamus doloribus minima incidunt aspernatur. Hic fuga modi maxime possimus, odio nesciunt fugiat laboriosam amet sit itaque. Cum reprehenderit natus eveniet hic nesciunt, ut quos!
            Laboriosam ducimus sapiente, nam commodi nulla in qui repudiandae ipsa modi, ad tenetur earum quaerat at eius ea incidunt quae odit! Laboriosam, error? A odio nihil dolores neque magni fugit!
            Eum eius sequi ex laborum, enim magni, fugiat numquam quibusdam dolores ad aut, distinctio quis voluptates fugit necessitatibus odit! Facere inventore voluptates esse accusamus voluptate iusto, rem consequatur voluptatibus neque!
            Amet natus animi cumque quod praesentium facere in nulla aliquid sed impedit, molestiae rerum fuga saepe alias, quae dolores inventore consectetur vitae sit quasi! Optio vitae recusandae vel minima vero!
            Neque voluptatum quam eos repellendus similique accusamus rerum possimus! Voluptas, molestiae eaque. Ducimus ipsam quis quae perspiciatis, nam enim, ratione voluptates facere iusto quasi, ipsum ea laboriosam eum facilis fugiat.
            Est fugit, veritatis eveniet reprehenderit, laborum, voluptatem architecto soluta praesentium id dolores accusantium temporibus tempore reiciendis quia quasi iste mollitia optio alias ullam. Cupiditate aspernatur fugit, sed ipsa veritatis perferendis.
            Numquam iusto velit ducimus, accusantium impedit facilis molestiae deserunt. Suscipit quaerat, facilis praesentium, neque saepe tenetur quidem odit illo vero iusto facere expedita id tempora harum consequatur voluptas, doloribus aspernatur.
            Sequi iusto odit sint repellat amet, laudantium omnis mollitia officia placeat possimus beatae quia adipisci deserunt natus dolorum explicabo perspiciatis magni consectetur aliquam earum. Reprehenderit quidem consequatur illum dolores nam.
            Dolorem facere natus, accusantium, non fugiat officia aperiam hic necessitatibus laboriosam nulla quia vitae vero. Libero, iusto aspernatur. Voluptas maxime aliquam, distinctio eligendi aperiam harum in sint nihil commodi soluta.
            Repellendus a reprehenderit rem, cupiditate nesciunt veritatis laboriosam itaque aspernatur possimus fuga inventore dolorum labore eum quod, ea repudiandae incidunt? Asperiores nihil enim earum iste, nulla sit incidunt veritatis laborum.
            Voluptates quos officiis aliquid tempora cum corrupti ipsum, ut ullam, error repellendus nisi labore quae eos quam facere molestiae placeat! Quis vitae numquam sed doloremque molestiae dolores distinctio eos alias!
            Natus, nihil. Eveniet voluptatibus labore necessitatibus exercitationem saepe et ex quod consequuntur ipsum eaque, sequi dolorum sapiente architecto dolorem fugit consectetur enim, eos itaque vel repellat obcaecati impedit ut vitae?
            Asperiores iste unde error natus quaerat animi quas eaque alias, ad sapiente aperiam enim neque maiores soluta, doloremque, culpa obcaecati facere sint necessitatibus iure quidem impedit atque voluptatibus laboriosam? Deleniti!
            Animi velit cum cupiditate, quaerat dolorem, repellendus in tempora optio ipsum asperiores natus fuga, ex blanditiis deserunt unde. Sequi amet dolorum dignissimos voluptatum vero veritatis temporibus vel sunt, nihil quo?
            Non repudiandae quas ea consectetur eveniet, dolorum, tenetur, obcaecati amet quaerat similique temporibus? Soluta nisi doloribus aliquid, blanditiis quibusdam atque accusamus ex error molestiae porro ea inventore dolores consequuntur autem.
        </main>
    </div>
</div>

<script src="/app.js"></script>
</body>
</html>